<app-card
  cardClass="vinculacion-form-card"
  blockClass="px-3 py-3"
  [options]="false"
  cardTitle="Agregar Vinculacion"
>
  <form [formGroup]="createVinculacionForm" (submit)="onSubmitForm()">
    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="vinculacion-type">Tipo</label>
        <input
          type="text"
          class="form-control"
          id="vinculacion-type"
          placeholder="Tipo de vinculacion"
          formControlName="type"
        />
      </div>
    </div>
    <div class="form-group row mb-3">
      <div class="col-md-6">
        <label for="state">Estado</label>
        <select class="form-select" id="state" formControlName="state">
          <option selected value="">Seleccione uno</option>
          <option value="En Planeacion">En Planeacion</option>
          <option value="En Curso">En Curso</option>
          <option value="Cancelada">Cancelada</option>
          <option value="Finalizada">Finalizada</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="student">Estudiante a cargo</label>
        <input
          type="text"
          class="form-control"
          id="student"
          placeholder="Nombre del estudiante"
          formControlName="atCharge"
        />
      </div>
    </div>

    <div class="mb-4">
      <label>Fecha de inicio</label>
      <div class="input-group">
        <input
          type="number"
          formControlName="day"
          class="form-control"
          placeholder="Dia"
          formControlName="start_date_day"
        />
        <input
          type="number"
          formControlName="month"
          class="form-control"
          placeholder="Mes"
          formControlName="start_date_month"
        />
        <input
          type="number"
          formControlName="year"
          class="form-control"
          placeholder="Año"
          formControlName="start_date_year"
        />
      </div>
    </div>

    <div class="mb-4">
      <label>Fecha de finalización</label>
      <div class="input-group">
        <input
          type="number"
          formControlName="day"
          class="form-control"
          placeholder="Dia"
          formControlName="end_date_day"
        />
        <input
          type="number"
          formControlName="month"
          class="form-control"
          placeholder="Mes"
          formControlName="end_date_month"
        />
        <input
          type="number"
          formControlName="year"
          class="form-control"
          placeholder="Año"
          formControlName="end_date_year"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-md-4">
        <label for="hours">Horas asignadas</label>
        <input
          type="number"
          class="form-control"
          id="hours"
          placeholder="5"
          formControlName="hours"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="students_limit">Cantidad de estudiantes permitidos</label>
        <input
          type="number"
          class="form-control"
          placeholder="20"
          id="students_limit"
          formControlName="students_limit"
        />
      </div>

      <div class="form-group col-md-4">
        <label for="budget">Presupuesto</label>
        <input
          type="number"
          class="form-control"
          id="budget"
          placeholder="5"
          formControlName="budget"
        />
      </div>
    </div>

    <div class="row mb-3"></div>

    <div class="row mb-3">
      <div class="form-group">
        <label for="desc">Descripcion</label>
        <textarea
          class="form-control"
          id="dec"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">
      {{ editMode ? "Guardar" : "Agregar" }}
    </button>
  </form>
</app-card>
