<div class="row">
  <app-card
    *ngFor="let vinculacion of vinculaciones"
    cardTitle="Recent Users"
    cardClass="Recent-Users"
    blockClass="px-0 py-3"
    class="col-md-6 col-xl-3"
    [options]="false"
    [cardTitle]="vinculacion.name"
  >
    <div class="px-3">
      <p>{{ vinculacion.description }}</p>
      <span class="d-blok">
        Horas asignadas:
        <span class="fw-bold">{{ vinculacion.hours }}</span></span
      >
      <span class="d-block"
        >Fecha de inicio:
        <span class="fw-bold">{{ vinculacion.start_date | date }}</span>
      </span>
      <p class="d-block">
        Estudaintes requeridos
        <span class="fw-bold"> {{ vinculacion.students_limit }} </span>
      </p>
      <p class="d-block">
        Estudiantes Inscritos
        <span class="fw-bold"> {{ vinculacion.students.length }} </span>
      </p>
      <button
        *ngIf="!isSusbcribe(vinculacion); else badge"
        (click)="onSuscribeClick(vinculacion._id)"
        class="label btn theme-bg2 text-white f-12 rounded-pill"
      >
        Inscribirse
      </button>

      <ng-template #badge>
        <span class="badge m-r-5 bg-success">Inscrito</span>
      </ng-template>
    </div>
  </app-card>
</div>
